[window]
x_offset = -1 # -1 for right-align
y_offset = 0 # -1 for bottom-align

width_percent = 25
height_percent = 50

window_opacity = 75 # in percentage

[text]
font_size = 12
font_style = "Consolas"

[colours]
background = "black"
text = "white"

[keybinds]
show_hide = "<ctrl>+<alt>+k" # use <cmd> for 'super' or windows key

[api]
# spotify_client_id = "00000000000000000000000000000000"
# spotify_client_secret = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
# spotify_redirect_uri = "http://localhost:50891/authorize" # leave unchanged unless needed

genius_api_token = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"